<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>首页</title>
</head>

<body>
  首页
  <hr>
  <h2>注册</h2>
  <div class="register">
    <form>
      <input class="username" type="text" name="username" value="">
      <br/>
      <input class="pwd1" type="password" name="password" value="">
      <br/>
      <input class="pwd2" type="password" name="repassword" value="">
      <br/>
      <input class="sub" type="button" value="提交">
    </form>
  </div>
  <hr>
  <h2>登录</h2>
  <div class="login">
    <form>
      <input class="username" type="text" name="username" value="">
      <br/>
      <input class="pwd1" type="password" name="password" value="">
      <br/>
      <input class="sub" type="button" value="提交">
    </form>
  </div>
  <hr>
  <div class="user_info">
    <h2>用户信息</h2>
    <div>
      <span> 用户名：</span>
      <span class="user_name"> xxx</span>
      <p> 进入后台管理页面：
        <a href="/admin">进入</a>
      </p>
    </div>
    <div>
      <button class="logout"> 退出</button>
    </div>
  </div>
</body>

</html>
<script src="https://cdn.bootcss.com/jquery/2.2.1/jquery.js"></script>
<script>
  $('.register .sub').on('click', function () {
    $.ajax({
      url: '/api/user/register',
      type: 'post',
      data: {
        username: $('.register .username').val(),
        password: $('.register .pwd1').val(),
        repassword: $('.register .pwd2').val()
      },
      success: function (res) {
        console.log(res)
      }
    })
  })

  $('.login .sub').on('click', function () {
    $.ajax({
      url: '/api/user/login',
      type: 'post',
      data: {
        username: $('.login .username').val(),
        password: $('.login .pwd1').val()
      },
      success: function (res) {
        console.log(res)
        $('.user_info .user_name').text(res.data.username)
      }
    })
  })
</script>